<h2>Search</h2>

<form method="get" action="/forms">
  <label for="search">Search: </label>
  <input type="text" name="q" id="search">
  <button type="submit">Search</button>
</form>

<br>

<%= form_for @language, url: forms_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit %>
<% end %>

<br>

<% @languages.each do |language| %>
  <%= link_to language.name, language.url %>
<% end %>
